@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: "Poppins",sans-serif;
}
.foto-de-perfil {
    width: 200px;
    height: 200px;
}

.tabela-profissional {
    border-collapse: collapse;
}
.tabela-profissional td {
    border: .1px solid gray;
    padding: .4rem 1rem;
}

